.upcoming-for-event {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.upcoming-section-headings h1 {
    font-size: 50px;
}

.upcoming-section-headings p {
    font-size: 20px;
}

.upcoming-section-context {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background: linear-gradient(180deg, #FFFBF6 0%, #FFF8EF 100%);
    margin: 20px 0;
    border-radius: 20px;
}

.first-upcoming-section-img img {
    width: 250px;
}

.first-upcoming-section-context {
    padding: 20px;
}

.first-upcoming-section-context-points {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px;
}

.first-upcoming-section-context-points img {
    margin-right: 10px;
    border-radius: 50%;
    width: 25px;
}

.upcoming-section-context button {
    border: none;
    border-radius: 20px;
    padding: 7px 15px;
    background-color: #FF6612;
    color: white;
    margin: 10px;
}

.upcoming-section-context button:hover {
    background-color: hsl(21, 93%, 67%);
}
