.Serviceblock-section-for-services{
    background: #FFFBE5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
}
.right{
}
.left{
    flex-direction: row-reverse;
}
.Serviceblock-right-section img{
    height: 400px;
}

.Serviceblock-left-section{
    width: 60%;
    margin: 0 30px;
}
.Serviceblock-left-section h1{
    font-size: 50px;
    margin: 20px 0;
}
.Serviceblock-left-section h2{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}
.Serviceblock-left-section p{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin: 20px 0;
}
.Serviceblock-left-section span{
    position: relative;
    bottom: 10px;
    left: 10px;
    margin: 20px 0;
}
.Serviceblock-left-section h4{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}