.sidebar {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 16%);
    padding: 20px;
    margin: 20px 20px;
    border-radius: 10px;
}

.section {
    padding: 20px;
}
.section p{
    font-size: 14px;
}

.section:hover {
    background-color: #dedee1;
}

.sidebar-links{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: DMSans_18pt_Medium;
}

.sidebar-links:hover{
    color: #ff6f00;
}
