.branch-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.branch-location-heading img{
    height: 100px;
}

.branch-location-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.branch-search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    margin: 50px 0;
}

.branch-search-bar input {
   border: 2px solid black;
   padding: 10px 30px;
   border-radius: 20px;
}

.input-for-country{
   width: 70%;
   margin-right: 100px;
}

.input-for-city{
    width: 100%;
}

.branch-search-bar button{
   border: none;
   border-radius: 20px;
   width: 200px;
   padding: 7px;
   background-color: #FF6612;
   color:  white;
   position: relative;
   right: 100px;
}
.branch-search-bar button:hover{
   background-color:hsl(21, 83%, 68%);
}

.branch-location-map{
    display: flex;
    justify-content: center;
    align-items: center;
}

.branch-location-map-left{
    margin-right: 40px;
}
.branch-location-map-left img{
    height: 400px;
}

.branch-location-map-right{
    width: 50%;
}

.branch-location-map-right h3{
    margin-bottom: 20px;
}
.address-text{
    margin-bottom: 20px;
    color:#FF6612;
    font-weight: bolder;
    font-size: larger;
}
.branch-location-map-right h2{
    margin-bottom: 20px;
}
.branch-location-map-right h4{
    margin-bottom: 20px;
}
.branch-location-map-right button{
    margin-bottom: 20px;
    background-color: #FF6612;
    border-radius: 20px;
    padding: 10px;
    border: none;
    color: white;
}