.details-container{
    background-color: antiquewhite;
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
}

.event-web-heading {
    display: flex;
    justify-content: left;
    align-items: center;
}
.event-web-heading p{
    color: #FF6612;
}