.BatchesForYou-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 40px 0; */
}

.BatchesForYou-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BatchesForYou-heading img {
    width: 50%;
    margin: 20px 0;
}

.BatchesForYou-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BatchesForYou-items img {
    width: 70%;
}


/* ************** */

.BatchesForYou-carousel-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.BatchesForYou-carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.BatchesForYou-slides {
    display: flex;
    width: 300%;
}

.BatchesForYou-slide {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BatchesForYou-slide img {
    width: 90%;
    padding: 30px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: #FF6612;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #FF6612;
    width: 50px;
    border-radius: 20px;
}

.BatchesForYou-slide-image{
    width: 300px;

}

.BatchesForYou-slide-container{
    width: 100%;
}
.BatchesForYou-slide-content-LtL1{
    font-size: 26px;
}

.BatchesForYou-slide-image-container {
    width: 25%;
}

.BatchesForYou-slide-image-container img{
    width: 100%;
}   

.BatchesForYou-slide-content-container{
/* w */
}
.Test-repo_container{
    margin: 10px;
}
 .slick-prev {
    z-index: 1 !important;
    color: red !important;
    border: 30px !important;
    /* background-color: rgb(170, 170, 178) !important; */
    left: 30px !important; 

}
.slick-prev ::before {
    color: red !important;
}

.slick-arrow{
    z-index: 1 !important;
    color: red !important;
    border: 30px !important;
    /* background-color: rgb(135, 135, 139) !important; */
    right: 30px !important; 
}
.slider{
    overflow: hidden;
}
.slide_image{
    width: 35% !important;
    margin: auto;
    height: 400px;
    border-radius: 20px;
}
.inner_slide_container{
    display: flex !important;
    gap: 30px;
    margin: 0px 100px;
}

.inner_slide_container_content{
    width: 65%;
    margin: auto;

}

.inner_slide_container_batchName{
    font-size: 40px;
    font-weight: 700;
}

.inner_slide_container_description{
    margin-top: 20px !important;
    width: 80%;
    font-size: 22px;
    font-weight: 500;
    color: rgb(127, 122, 122);
}

.inner_slide_container_points{
    display: flex;
    flex-direction: column;
    margin-top: 20px !important;
    width: 80%;
    font-size: 22px;
    font-weight: 500;
    color: rgb(127, 122, 122);

}

.slick-prev:before, .slick-next:before{
    font-size: 40px !important;
    border-radius: 50%;
    background-color: #FF6612;
    line-height : 0.5px !important;
}
.slick-dots{
    bottom: -60px !important;
}

.slick-dots li.slick-active button:before{
    color: #FF6612 !important;  
    width: 30px !important;
    border-radius: 20px !important;
}

.slick-active button{
    background-color: #FF6612 !important;
    color: #FF6612 !important;
    width: 30px !important;
    border-radius: 20px !important;
}

.slick-dots li button:hover, .slick-dots li button:focus{
    color: #FF6612 !important;
    
}