.testimonials-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.carousel-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 50px 0;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.slides {
    display: flex;
    width: 300%;
}

.slide {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slide div {
    text-align: left;
    padding: 50px 50px;
    background: linear-gradient(45deg, #FF6612, #FF9212);
    width: 30%;
    color: white;
    border-radius: 20px;
    /* margin: 0 10px; */
}

.slide div h1,p{
    margin: 10px 0;
}
.prev-btn,
.next-btn {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background-color:#FF6612 ;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}