.Advantages-Of-Usa-Education-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}

.Advantages-Of-Usa-Education-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Advantages-Of-Usa-Education-left img{
    height: 130px;
}
.AOUEL-heading img{
    height: 150px;
}


.Advantages-Of-Usa-Education-right img{
    height: 700px;
    margin-bottom: 900px;
}