.OurExpertsInYourSupports-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
}

.OurExpertsInYourSupports-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.OurExpertsInYourSupports-heading img{
    width: 60%;
}

.OurExpertsInYourSupports-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.OurExpertsInYourSupports-items img{
    width: 20%;
}

.scroll{
    display: flex;
    justify-content: center;
    align-items: center;   
}